/* Styles */

* {
    margin: 0;
} 

html, body {
    height: 100%;
    /*box-sizing: border-box;*/
}

body {
    background: #eee;
    color: #5b5b5b;
    font-family: "Open Sans";
    font-size: 18px;
}

footer {
    color: rgba(255,255,255,0.8);
    background: #206989;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    height: 6rem;
    padding: 1em 0em;
    position: relative;   
    text-align: center;
}

footer p:first-child {
    margin-top: 1em;
}

footer p:last-child {
    font-size: 0.8em;
}

header {
    background: #36afe4;
    color: white;
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    box-shadow: 0px 0px 7px 0px #777;
    /*box-shadow: 0px 2px 2px rgba(0,0,0,0.2);*/
    min-height: 5rem;
}

header h1 {
    /*border: 1px solid white;*/
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem calc(75px + 2rem);

    /** Posicionamiento vertical */
    -ms-flex-line-pack: center;
        align-content: center;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header #logo {
    margin: 0.5em 1em;

    /** Posicionamiento vertical */
    -ms-flex-line-pack: center;
        align-content: center;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header #logo img {
    background: #206989;
    border-radius: 50%;
    width: 75px;
}
 

input {
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-sizing: border-box; 
}

#content {
    padding: 2em 2.5em;
}

#content #login {
    background: #fcfcfc;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    height: auto;
    max-width: 768px; 
    margin: 2em auto;
    padding: 2em 2em;
    text-align: center;
}

#content #login .login-text {
    font-size: 1.6em;
    margin: 1.5em 0em;
}

#content #login #avatar_login
{
    margin: 0em 0em 1em 0em;
}

#content #login #avatar_login img
{
    border-radius: 50%;
    height: 125px;
}

#content #login .field {
    display: block;
    color: #636363;
    width: 100%;
    padding: 10px 10px 10px 5px;
}

#wrapper {
    min-height: calc(100vh - 8rem);
    height: auto;
}