/* Styles */

* {
    margin: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #5b5b5b;
    font-family: "Open Sans";
    font-size: 18px;
}

footer {
    background: #206989;
    color: white;
    height: 8rem;
    position: relative; 
}

header {
    background: #36afe4;
    color: white;
    /*height: 4em;*/
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    box-shadow: 0px 5px 10px #c7c7c7;
}

header h1 {
    border: 1px solid white;
    /*font-size: 1.4em;*/
    font-weight: normal;
    margin: 0em 0em 0em 1em;
    vertical-align: middle;
    float: left;

    /** Posicionamiento vertical */
    -ms-flex-line-pack: center;
    align-content: center;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
}

header #logo {
    margin: 0px;
    float: left;
}

header #logo img {
    background: #206989;
    border-radius: 50%;
    width: 75px;
}


input {
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-sizing: border-box;
}

#content {
    padding: 1em;
}

#content #login {
    /*border: 1px solid red;*/
    background: #fcfcfc;
    max-width: 768px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    padding: 1em 2em;
}

#content #login .field {
    display: block;
    color: #636363;
    width: 100%;
    padding: 10px 10px 10px 5px;
}

#wrapper {
  min-height: calc(100vh - 8rem);
}


